#status {
	color:#ffffff;
	margin-right : 2em;
    margin-left : 2em;
}
#status a {
    color:#CCCC66;
    margin-left : 2em;
}

#title a {
   color:#003D4C; 
}

.error {
    color : red;
}

#tax_rate{
    font-size: 70%;
    color:darkred;
}